@import "~/app/styles/variables.scss";

.input {
  padding: 21px;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.64px;
  border: 1px solid $blue-03-04;
  border-radius: 10px;
  color: $blue-01;
  outline: none;
  resize: none;

  &::placeholder {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.64px;
    color: $blue-01;
    opacity: 0.2;
  }

  &:focus {
    outline: 1px solid $blue-03;
  }

  &.required + .input-error {
    display: block;
  }
}

.input-error {
  display: none;
  font-size: 12px;
  color: rgb(238, 76, 76);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.64px;
  color: $blue-01;
}
