html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href=require("~/app/styles/reset.scss"), rel="stylesheet")
        script(src=require("~/index.js") defer="defer")
        title Afrianska
    body
        include ../widgets/navbar/navbar.pug
