

html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href=require("~/app/styles/globals.scss"), rel="stylesheet")
        script(src=require("~/index.js") defer="defer")
        title Afrianska
    body
        include ../shared/ui/button/button.pug
        include ../widgets/footer/footer.pug

        header 
            include ../widgets/navbar/navbar.pug
            include ../widgets/header/header.pug
        main 
            include ../widgets/services/services.pug
            include ../widgets/clients/clients.pug
        footer
            +footer()
