@import "~/app/styles/variables.scss";

.burger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 24px;
  height: max-content;
  border: none;
  background: transparent;
  & > span {
    width: 100%;
    min-height: 2px !important;
    background-color: $blue-03;
  }
}
