@import "~/app/styles/variables.scss";

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #00000050;
  z-index: 100;
}

.modal-show {
  display: flex;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 56px;
  min-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  @media (max-width: 540px) {
    padding: 20px;
    min-width: 300px;
  }
}

.modal-title {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  color: $blue-01;
}

.modal-close {
  position: absolute;
  right: 56px;
  top: 58px;
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &::before,
  &::after {
    position: absolute;
    left: 12px;
    top: 0;
    content: " ";
    height: 25px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  @media (max-width: 540px) {
    right: 20px;
    top: 22px;
  }
}
