link(rel="stylesheet", href=require("./services.scss"))
include ../../features/service-card/service-card.pug

section.section 
  ul.container.service-wrapper 
    p.service-text What we do to help our client grow in digital era,
    +serviceCard("~/app/images/service-card-1.png", "Bring Technology To Your Comfrotable Home", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")(class="service-card__custom service-card__top-right")

    +serviceCard("~/app/images/service-card-2.svg", "Make Your business To Be Better Famous In Internet", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")(class="service-card__center")
    
    +serviceCard("~/app/images/service-card-3.svg", "Build Your Digital Product That Suitable For Your Need", "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.")(class="service-card__bottom-right")
